body {
	font-size: 12px; width: 301px; margin: 0; color: #444;
	font-family: Helvetica, Arial, "Trebuchet MS", sans-serif;
}

/*Links*/
a, a:visited {text-decoration: none; color: #009; outline: none;}
a:hover {text-decoration: underline; color: #006;}
a.showtitle, a.showtitle:visited {text-decoration: none; color: #000; outline: none;}
a.showtitle:hover {color: #900;}

.nano .content      { padding: 0px; }
.nano .pane         { background: #fff; }
.nano .pane .slider { background: #bbb; }

/*Pannel*/
#header {padding-bottom: 3px; border-bottom: 1px solid #bbb;}

#about {
	margin: 3px 0 3px 0;
}

/*Help*/
#footer {
	height: 14px;
	padding-top: 3px;
	border-top: 1px solid #BBB;
	padding-left: 10px;
}

#help-text {
	font-style: italic;
	color: #999;
	font-size: 10px;	
}

/*Logo*/
.showtitle {
	border-bottom: 1px solid #dcdcdc;
	text-transform: uppercase;
	margin-top: 6px;
	font-family: Verdana
}
.title {
	color: #666;
}
img.archive,img.unarchive{
	margin-bottom:-1px; 
	height:11px;
}
img.archive:hover,img.unarchive:hover{cursor: pointer;}
#logoLink, #logoLink:visited {
	font-variant: small-caps; 
	font-size: 20px;  
	letter-spacing: 2px;
	margin-right: 2px;
}
#logoLink:hover {
	text-decoration: underline;
}

/*Actions*/
#logo {float: left; width: 200px;}
#actions {text-align: right; padding: 2px 3px 0 0;}
img.action {opacity: 0.5; cursor: pointer;}
img.action:hover {opacity: 1.0;}

#title {float: left; width: 160px; color: #aaa; font-variant: small-caps;}
#menu-wrapper {text-align:right; margin-right: 3px;}
#trash-wrapper {text-align:right; margin-right: 3px;}
img.action {opacity: 0.5; cursor: pointer;}
img.action:hover {opacity: 1.0; cursor: pointer;}

/*membersEpisodes*/
#page {width: 294px;}
.episode {height: 18px; border-bottom: 1px solid #eee; padding: 3px 0 0 0;}
.episode:hover {background-color: #f5f5f5;}
.episode.new {background-color: #fff3ee;}
img.subs{cursor: pointer;}
span.num {color: #1a4377;}
span.new {color: #900; font-size: 9px; font-variant: small-caps;}
div#message {color: #900; margin: 3px 0 3px 0; text-align: center; background-color: #fc9;}
.membersEpisodes .left{float:left; width:230px;}
.membersEpisodes .right{margin-left: 230px; width:60px;}
.membersEpisodes .left2{float:left; width:190px;}
.membersEpisodes .right2{margin-left: 190px; width:100px; text-align:right;}
span.toggleEpisodes {text-align: right; font-size: 9px; color: #666; margin-right: 5px; font-weight: normal;}
div.clear{clear: both;}

/*planningMember*/
.planningMember .left{float:left; width:205px;}
.planningMember .right{margin-left: 205px; width:80px;}
.date {font-variant: small-caps; color: #888;}
.lun {background:#fff9ee;}
.mar {background:#fff3ee;}
.mer {background:#faffee;}
.jeu {background:#eefffb;}
.ven {background:#eefff0;}
.sam {background:#eef6ff;}
.dim {background:#feeeff;}

.icon{float:left;margin-right:4px;}
.icon2{margin: 0 4px -4px 0;}
.icon-4 {margin-bottom: -4px;}

/*view timeline, notifications, commentsEpisode*/
.timelineFriends .left, .membersNotifications .left
	{float:left; width:205px;}
.timelineFriends .right, .membersNotifications .right
	{margin-left: 205px; width:80px;}
.timelineFriends .event, .membersNotifications .event, .commentsEpisode .event 
	{padding: 5px 0 5px 0; border-bottom: 1px solid #dcdcdc;}
.timelineFriends .login, .commentsEpisode .login 
	{color: #54709D;}
	
/*section menu*/
.menu a, .menu a:visited {
	display: block;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
}

.menu a:hover {
	background-color: #f5f5f5;
}

.menu img {
	margin: 5px;
}
