<div class="comments">
  <div class="comment" ng-repeat="comment in comments" ng-class="{answer: comment.in_reply_to > 0}">
    <div class="login">
      <span class="wp wp-date wp-right">
        {{comment.date|date}}
      </span>
      <span class="wp wp-avatar">
        <img ng-src="{{comment.avatar}}" width="10" ng-if="comment.avatar" />
      </span>
      <span class="wp wp-login">
        {{comment.login}}
      </span>
    </div>
    <div class="text">{{comment.text}}</div>
  </div>
</div>