<div id="shows">
	<div class="show" ng-repeat="show in shows" ng-show="show.episodes.length > 0">
    	
      <div class="showtitle">
        <div class="wp wp-remain wp-right">
          {{show.remaining}}
        </div>
        <div class="wp wp-maintitle">
          &nbsp;<i class="fa fa-caret-down"></i> {{show.title}}
        </div>
      </div>

      <div class="episodes">
        <div class="episode" ng-repeat="episode in show.episodes" ng-show="!episode.user.seen">

          <div class="wp wp-watched wp-right">
            <i class="fa fa-check-square-o"></i>
          </div>

          <div class="wp wp-mean-note wp-right">{{episode.note.mean}}</div>
          
          <div class="wp wp-num">
            {{episode.code}}
          </div> 

          <div class="wp wp-title">
            <a ng-href="#/episodes/{{episode.id}}">{{episode.title}}</a>
          </div>
          
          <div class="wp wp-new" ng-if="episode.isNew()">
            new
          </div>

        </div>
      </div>

	</div>
</div>