<div id="shows">
	<div class="show" ng-repeat="show in shows" ng-show="show.episodes.length > 0">
    	
      <div class="showtitle">
        <div class="left">
          <img ng-src="{{show.visibleIcon}}" class="toggleShow" />
          <a href="" class="showtitle display_show">{{show.title}}</a>
          <a href="" class="display_episodes">
            <span class="remain remain-right">{{show.remaining}}</span>
          </a>
        </div>
        <div class="right"></div>
        <div class="clear"></div>
      </div>

      <div class="episodes">
        <div class="episode" ng-repeat="episode in show.episodes" ng-show="!episode.user.seen">

          <div class="td wrapper-watched">
            <img ng-src="img/{{episode.watchedPlot}}.png" class="watched action icon-4" title="{{episode.watchedTitle}}" /> 
          </div>

          <div class="td wrapper-mean-note">{{episode.note.mean|note}}</div>

          <div class="td wrapper-copy-clipboard">
            <a href="" title="{{episode.showTitle}} {{episode.code|code}}" class="invisible copy_episode">
              <textarea style="display:none;">{{episode.title}} {{episode.code|code}}</textarea>
              <img src="img/link.png" class="copy action" />
            </a>
          </div>
          
          <div class="td wrapper-title" style="width: {{episode.titleWidth}}px">
            <span class="num">{{episode.code|code}}</span> 
            <a href="" title="{{episode.stitle}}" class="epLink display_episode">{{episode.title}}</a>
          </div>
          <div class="td wrapper-new">
            <span class="new">new</span>
          </div>

          <div class="td wrapper-comments">
            <img src="img/comments.png" class="comments action" ng-click="go_comments(episode.id)" />
          </div>
    
          <div class="td wrapper-recover">
            <img src="img/{{episode.imgDownloaded}}.png" class="downloaded action" title="{{episode.texte3}}" />
          </div>
          
          <div class="td wrapper-subtitles">
            <img src="img/subtitles.png" class="subs action" quality="{{episode.quality}}" title="{{episode.srt_quality}}" />
          </div>

          <div class="td wrapper-rate">
            <img src="img/star_off.gif" width="10" id="star1" class="star action" title="1 /5" />
            <img src="img/star_off.gif" width="10" id="star2" class="star action" title="2 /5" />
            <img src="img/star_off.gif" width="10" id="star3" class="star action" title="3 /5" />
            <img src="img/star_off.gif" width="10" id="star4" class="star action" title="4 /5" />
            <img src="img/star_off.gif" width="10" id="star5" class="star action" title="5 /5" />
            <img src="img/close3.png" width="10" class="close_stars action" title="do_not_rate" />
          </div>
  		  
        </div>
      </div>

	</div>
</div>