body {
	width: 366px; 
	margin: 0; 
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #333;
}

.show > .title {
	display: inline-block;
}
.show > .remaining {
	display: inline-block;
}

.episode > .watched {
	display: inline-block;
}
.episode > .title {
	display: inline-block;
}