body {
	width: 366px; 
	margin: 0; 
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #333;
}

/* GENERAL */

.block {display: inline-block;}
.floatr {float: right;}

.nano .content      { padding: 0 15px 0 5px; }
.nano .content:focus { outline: none; }
.nano .pane         { background: #fff; }
.nano .pane .slider { background: #bbb; }

.note-mean {font-size: 9px; padding: 3px 3px 0 3px; display: inline-block; margin-right: 3px; width: 15px; text-align: center;}
.note-mean.green {background-color: #6C3; color: #fff;}
.note-mean.orange {background-color: #FC3; color: #333;}
.note-mean.red {background-color: #F00; color: #fff;}

/* HEADER */

header {
  width: 366px; 
  height: 23px;
  background-color: rgb(59,141,208);
  color: #fff;
  margin-bottom: 5px;
}

/* MY EPISODES */

.show-content {
  border-bottom: 1px solid #ddd;
  height: 18px;
}

.show-content > div {
  display: inline-block;
}

.show-content > .title {
	display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.show-content > .remaining {
	display: inline-block;
  color: #ddd;
  background-color: #444;
  padding: 0 3px;
}

.episodes {
  margin-bottom: 5px;
}

.episode {
  border-bottom: 1px solid #eee;
}

.episode:hover {
  background-color: #eee;
}

.code {
  color: #999;
  font-size: 10px;
}

/* EPISODE COMMENTS */

.comment {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.comment > .answer {
  border-left: 2px solid #4E5FB8;
  margin-left: 10px;
  padding-left: 10px;
}

.comment .comment-content {
  width: 300px;
}

.comment .answer .comment-content {
  width: 250px;
}

.comment .avatar {
  vertical-align: top;
  padding: 1px;
  border: 1px solid #DFDFDF;
  margin: 0 6px;
  width: 30px;
  box-sizing: border-box
}

.comment .login {
  font-weight: bold;
}

.comment .date {
  font-size: 10px;
  color: #999;
}

.comment .text {
  margin-top: 5px;
}