<div id="shows">
	<div class="show" ng-repeat="show in shows" ng-show="show.unseen.length > 0">
    	
      <div class="show-content">
        <div class="title">{{show.title}}</div>
        <div class="remaining floatr">{{show.remaining}}</div>
      </div>

      <div class="episodes">
        <div class="episode" ng-repeat="episode in show.unseen" ng-show="!episode.user.seen">
          
          <div class="note-mean">
            <span ng-class="episode.note.mean|bgNote">{{episode.note.mean|note}}</span>
          </div>
          
          <div class="title">
            <span class="code">{{episode.code|code}}</span>
            {{episode.title}}
            <div class="date">Diffusé le {{episode.date|localeDateString}}</div>
          </div>
  
          <div class="comments" ng-click="go_comments(episode.id)">
            <img src="/app/img/comments.png" alt="comment" />
            {{episode.comments}}
          </div>
  		  
        </div>
      </div>

	</div>
</div>