body {
	font-size: 11px; width: 300px; margin: 0; color: #333;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}

/*Links*/
a, a:visited {text-decoration: none; color: #009;}
a:hover {text-decoration: underline; color: #006;}

/*Pannel*/
div#pannel table {width: 95%;}
div#pannel {border-bottom: 1px solid #bbb;}

/*Logo*/
div.title {
	border-bottom: 1px solid #dcdcdc;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-top: 6px;
	height: 12px;
}
img.archive{
	display:none; 
	margin-bottom:-1px; 
	height:11px;
}
img.archive:hover{cursor: pointer;}
span#logo-beta {
	font-variant: small-caps; 
	font-size: 20px; 
	font-weight: bold; 
	letter-spacing: 1px;
}

/*Actions*/
td#actions {text-align: right;}
td#actions img.action {opacity: 0.5; cursor: pointer;}
td#actions img.action:hover {opacity: 1.0; cursor: pointer;}
td#menu {width:100px; text-align:right;}
td#menu img.action {opacity: 0.5; cursor: pointer;}
td#menu img.action:hover {opacity: 1.0; cursor: pointer;}
td#title {color: #aaa; font-variant: small-caps;}

/*viewEpisodes*/
div#page {width: 95%;}
div.episode {height: 18px; border-bottom: 1px solid #dcdcdc; padding: 3px 0 0 0;}
div.episode:hover {background-color: #eee;}
div.new_show {background-color: #fff3ee;}
img.subs{cursor: pointer;}
span.num {color: #1a4377;}
span.new {color: #900; font-size: 9px; font-variant: small-caps;}
div#message {color: #900; margin: 3px 0 3px 0; text-align: center; background-color: #fc9;}
.membersEpisodes .left{float:left; width:240px;}
.membersEpisodes .right{margin-left: 240px; width:45px;}
div.linkHidden {text-align: right; font-size: 9px; color: #666;}
div.clear{clear: both;}

/*viewPlanning*/
.planning .left{float:left; width:205px;}
.planning .right{margin-left: 205px; width:80px;}
.date {font-variant: small-caps; color: #888;}
.lun {background:#fff9ee;}
.mar {background:#fff3ee;}
.mer {background:#faffee;}
.jeu {background:#eefffb;}
.ven {background:#eefff0;}
.sam {background:#eef6ff;}
.dim {background:#feeeff;}

/*view timeline, notifications*/
.timeline .left, .notifications .left {float:left; width:205px;}
.timeline .right, .notifications .right {margin-left: 205px; width:80px;}
.timeline div.event {padding: 5px 0 5px 0; border-bottom: 1px solid #dcdcdc;}
.timeline span.login {color: #54709D;}
